<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:Layout="http://www.ultraq.net.nz/thymeleaf/layout"
	Layout:decorator="~{/layout}">
<head>
	<meta charset="utf-8">
	<title th:text=${title}></title>
</head>
<body>

	<main class="container" Layout:fragment="content" style="margin-top:4rem;">
		<div class="alert alert-danger" th:text="${message}">La page que vous cherchez n'est pas disponible</div>
	</main>

</body>
</html>