<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:Layout="http://www.ultraq.net.nz/thymeleaf/layout"
	Layout:decorator="~{/layout}">
<head>
<meta charset="utf-8">
<title th:text=${title}></title>
</head>
<body>

	<main class="container" Layout:fragment="content"
		style="margin-top:4rem;">
	<div class="contrat-box">
		<h2 style="text-transform: uppercase;">Liste des Editions</h2>
		<br>
		<div class="alert alert-success" role="alert">Liste des editions
			en cours beneficent de la bourse d'Excellence</div>
		<br>
		<div class="btn-group mr-2" role="group" aria-label="First group">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary" data-toggle="modal"
				data-target="#exampleModal">Versement de toutes les
				Editions</button>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary" data-toggle="modal"
				data-target="#exampleModal1">Versement par Edition</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Versment
							Mensuel</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form method="POST" th:action="@{/editions/editions/save}"
							th:object="${paiement}">
							<div class="form-group row">
								<div class="col-sm-6">
									<input class="form-control" type="text" th:field="*{montant}"
										placeholder="Montant Mensuel">
								</div>
							</div>
							<button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Annuler</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel1" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Versement
							Mensuel</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form method="POST" th:action="@{/editions/edition/save}"
							th:object="${paiement}">
							<div class="form-group row">
								<div class="form-group col-md-6">
									<input class="form-control" type="text" th:field="*{montant}"
										placeholder="Montant Mensuel">
								</div>
								<div class="form-group col-md-6">
									<Select class="form-control" th:field="*{id}">
										<option th:each="e : ${editions}" th:value="${e.getId()}"
											th:text="${e}" />
									</select>
								</div>
							</div>
							<button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Annuler</button>
					</div>
				</div>
			</div>
		</div>
		<br> <br>
		<div class="card text-black bg-light mb-3">
			<div class="card-header">Editions</div>
			<div class="card-body" th:object="${editions}"
				th:each="e : ${editions}">
				<h4>
					<a class="card-title" th:text="${e.getEdition()}"
						th:href="@{/editions/edition/view(id=${e.id})}"></a>
				</h4>
				<button type="button" class="btn btn-primary">
					Nombre Total des Boursiers <span class="badge badge-light"
						th:text="${e.sizeBoursiers()}"></span>
				</button>
				<button type="button" class="btn btn-success">
					LMD <span class="badge badge-light"
						th:text="${e.sizeBoursiersLMD()}"></span>
				</button>
				<button type="button" class="btn btn-warning">
					NLMD <span class="badge badge-light"
						th:text="${e.sizeBoursiersNLMD()}"></span>
				</button>
				<hr>
			</div>
		</div>

	</div>
	</main>

</body>
</html>
