<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:Layout="http://www.ultraq.net.nz/thymeleaf/layout"
	Layout:decorator="~{/layout}">
<head>
	<meta charset="utf-8">
	<title th:text=${title}></title>
</head>
<body>

	<main class="container" Layout:fragment="content" style="margin-top:4rem;">
	<div class="contrat-box">
		<h2 style="text-transform: uppercase;">Liste des boursiers</h2>
		<br>
		<form class="form-inline">
			<div class="form-group mb-2 mx-sm-3">
				<div class="input-group ">
					<label for="EditionSelect" class="input-group-prepend"> <span
						class="input-group-text" id="basic-addon3">Edition</span>
					</label> <select class="form-control" id="EditionSelect">
						<option>Edition</option>
						<option value="2016">2016</option>
						<option value="2017">2017</option>
						<option value="2018">2018</option>
					</select>
				</div>
			</div>
			<div class="form-group mb-2 mx-sm-3">
				<div class="input-group ">
					<label for="formationSelect" class="input-group-prepend"> <span
						class="input-group-text" id="basic-addon3">Formation</span>
					</label> <select class="form-control" id="formationSelect">
						<option>Formation</option>
						<option value="S1">LMD</option>
						<option value="S1">NLMD</option>
					</select>
				</div>
			</div>
			<div class="form-group mb-2">
				<button type="submit" class="btn btn-primary">
					Filtrer <i class="fa fa-filter"></i>
				</button>
			</div>
		</form>
		<a class="btn btn-warning mb-2" href="boursiers.html">Liste des
			boursiers qui n'ont pas déposé leur rapport</a> <br>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Boursier</th>
					<th scope="col">Etablissement</th>
					<th scope="col">Etat bourse</th>
					<th scope="col">Edition</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="#">QALLIDI Mohammed Amine</a></td>
					<td>Ecole Mohammadia d'ingénieur</td>
					<td>Valide</td>
					<td>2016</td>
				</tr>
				<tr>
					<td><a href="#">AMAZZAL El-habib</a></td>
					<td>Ecole Mohammadia d'ingénieur</td>
					<td>Valide</td>
					<td>2016</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm">
				<nav aria-label="..." style="margin: 0 auto;">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#"
							tabindex="-1">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item active"><a class="page-link" href="#">2
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
	</main>

</body>
</html>