<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:Layout="http://www.ultraq.net.nz/thymeleaf/layout"
	Layout:decorator="~{/layout}">
<head>
<meta charset="utf-8">
<title th:text=${title}></title>
</head>
<body>

	<main class="container" Layout:fragment="content"
		style="margin-top:4rem;">
	<div class="box">
		<h2 style="text-transform: uppercase;">Liste des Candidats au
			Bourse</h2>
		<br>
		<h5>
			Nombre Total des Candidats <span class="badge badge-success"
				th:text="${size}"></span>
		</h5>
		<br>
		<form action="@{/boursiers/quota}" method="post">
			<div class="form-row align-items-center">
				<div class="col-sm-3 my-1">
					<label class="sr-only" for="inlineFormInputName">Quota</label> <input
						type="text" name="quota" class="form-control" id="inlineFormInputName"
						placeholder="Quota">
				</div>
				<div class="col-auto my-1">
					<button type="submit" class="btn btn-primary">Generer la
						liste de présélection</button>
				</div>
			</div>
		</form>
		<br>
		<div th:object="${boursiers}" class="col-sm-12">
			<table th:object="${ba}" class="table">
				<thead>
					<tr>
						<th scope="col">CIN</th>
						<th scope="col">Boursier</th>
						<th scope="col">Descipline</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="b : ${boursiers}">
						<td th:text=${b.getCIN()}></td>
						<td th:text=${b.getNomComplet()}></td>
						<td><span class="label label-success"
							th:text=${b.getDiscipline()}></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm">
				<nav aria-label="..." style="margin: 0 auto;">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#"
							tabindex="-1">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item active"><a class="page-link" href="#">2
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>
	<br>
	</main>
</body>
</html>
