<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:Layout="http://www.ultraq.net.nz/thymeleaf/layout"
	Layout:decorator="~{/layout}">
<head>
<meta charset="utf-8">
<title th:text="${title+ ' - CNRST E-BOURSIER'}">CNRST E-BOURSIER</title>
</head>
<body>

	<main class="container" Layout:fragment="content"
		style="margin-top:4rem;">

	<div class="row">
		<div class="col">
			<div class="alert alert-warning"> Accés Interdit!</div>
		</div>
	</div>
	</main>

</body>
</html>