<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:Layout="http://www.ultraq.net.nz/thymeleaf/layout"
	Layout:decorator="~{/layout}">
<head>
<meta charset="utf-8">
<title th:text=${title}></title>
</head>
<body>

	<main class="container" Layout:fragment="content"
		style="margin-top:4rem;">
	<div class="contrat-box">
		<h2 style="text-transform: uppercase;">Liste des paiements</h2>
		<br>
		<!-- Details et info du boursiers - a completez  -->
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Date de versement</th>
					<th scope="col">Montant</th>
					<th scope="col">Etat</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${paiements}">
					<td th:text="${p.getDate()}"></td>
					<td th:text="${p.getMontant()}"></td>
					<td><span class="badge badge-success">Versé</span></td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-sm">
				<nav aria-label="..." style="margin: 0 auto;">
					<ul class="pagination">
						<li class="page-item disabled"><a class="page-link" href="#"
							tabindex="-1">Previous</a></li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item active"><a class="page-link" href="#">2
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-sm"></div>
		</div>
	</div>

	</main>

</body>
</html>